# Dependências do Node
node_modules/

# Relatórios de Teste e Cobertura (Jest)
coverage/

# Logs de erro
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Variáveis de ambiente
.env